*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */

body {
  font-family: "Courgette", cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* background-color: rgba(51, 51, 51, 0.322); */
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

.text-white {
  color: white;
}
.text-primary {
  color: dodgerblue;
}
/* header */
header {
  width: 100%;
  background-color: rgb(217, 4, 41);
}

/* logo */

.header-logo {
  /* width: 100px; */
  padding: 15px 0px;
  float: left;
}
.header-logo .logo a {
  font-size: 20px;
  color: rgb(43, 45, 66);
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* menu */

.menu {
  float: right;
}
.menu li {
  float: left;
}

.menu li a {
  font-size: 16px;
  color: rgb(43, 45, 66);
  text-transform: capitalize;
  padding: 21px 15px;
  display: block;
  transition: 0.3s;
}

.menu li a:hover,
.menu li .this-page-selected {
  color: dodgerblue;
  background-color: rgb(43, 45, 66);
}

/* main */

/* hero */

.hero {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), black),
    url(../images/Industrial-Rope-Access.jpg) no-repeat center top;
}
.hero-content {
  text-align: center;
  padding: 250px 0;
}
.hero-content > h1 {
  font-size: 50px;
}
.hero-content > p {
  padding: 16px 0;
  margin: 20px auto;
  font-size: 25px;
}
.hero-content .header-content-link {
  color: white;
  background-color: rgb(43, 45, 66);
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  text-transform: capitalize;
}
.hero-content .header-content-link:hover {
  color: dodgerblue;
}

/* history */

.history {
  width: 100%;
  float: left;
}

/* history image */
.history .history-child {
  width: 50%;
  float: left;
  height: 400px;
}
.history .history-image {
  background: url(../images/hero2-background.jpg) no-repeat center bottom;
  background-size: cover;
}

/* history content */
.history .history-content {
  background-color: rgb(43, 45, 66);
  padding: 70px;
  text-align: center;
  color: white;
}
.history .history-content h2 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.history .history-content p {
  padding: 16px;
  line-height: 20px;
  text-align: justify;
  text-transform: capitalize;
}
.history .history-content a {
  color: rgb(43, 45, 66);
  background-color: rgb(237, 242, 244);
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgb(43, 45, 66);
}

.history .history-content a:hover {
  color: dodgerblue;
}

/* services */

.services {
  width: 100%;
  float: left;
  position: relative;
}
.service-box {
  width: 33.3333%;
  height: 300px;
  text-align: center;
  padding: 50px;
  float: left;
}
.services .service-box i {
  font-size: 60px;
  color: rgb(239, 35, 60);
}
.services .service-box h2 {
  font-size: 20px;
  padding: 30px;
}
.services .service-box p {
  font-size: 18px;
}
.services .service-box:nth-child(2) {
  background-color: dodgerblue;
}

.services::after {
  content: "";
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top-color: dodgerblue;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

/* gallary */

.gallary {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.gallary .col {
  width: 25%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden;
}

.gallary .col img {
  width: 100%;
  display: block;
  transform: scale(1.4);
  transition: 1s;
}

.gallary .col::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.377);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.gallary .col::before {
  content: attr(data-title);
  width: 100%;
  height: 50px;
  background-color: rgb(217, 4, 41);
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  position: absolute;
  top: -20%;
  left: 0;
  z-index: 2;
  transition: 0.7s;
  transition-delay: 0.5s;
}

/* gallary hover */
.gallary .col:hover::before {
  top: 0;
}
.gallary .col:hover::after {
  transform: scale(0, 0);
  background-color: red;
}
.gallary .col:hover img {
  transform: scale(1);
}

/* contact us page */

/* contact us content */

.contact-us {
  width: 100%;
  float: left;
  margin: 40px 0;
}

.contact-us-content > h1 {
  font-size: 60px;
}
.contact-us-content > p {
  font-size: 20px;
  margin: 30px 0;
}

/* contact us form */

.contact-us-form {
  width: 100%;
}

.form-group {
  width: 100%;
  margin: 20px 0;
}
.form-group label {
  display: block;
  margin-bottom: 7px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  caret-color: rgb(217, 4, 41);
  color: rgb(217, 4, 41);
}

.form-group textarea {
  height: 250px;
  padding: 10px;
  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: 1px solid dodgerblue;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: dodgerblue;
}

.form-group .submit-input {
  width: auto;
  height: auto;
  color: white;
  background-color: rgb(43, 45, 66);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
.form-group .submit-input:hover {
  color: dodgerblue;
}

/* find out */

.find-out {
  width: 100%;
  float: left;
  background-color: rgb(239, 35, 60);
  border-bottom: 5px solid rgb(43, 45, 66);
}

.address-box {
  width: 33.3333%;
  height: 300px;
  text-align: center;
  padding: 50px;
  float: left;
}

.find-out .address i {
  font-size: 60px;
  color: white;
}

.address .address-box h2 {
  font-size: 20px;
  padding: 30px;
}
.address .address-box p {
  font-size: 18px;
}

/* about us */

/* about us content */

.about-us-content-wrapper {
  width: 100%;
  float: left;
}

.about-us-content {
  width: 100%;
  float: left;
  padding: 50px 0;
}

/* about us content left */

.about-us-content-left {
  width: 50%;
  float: left;
}
.about-us-content-left h1 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.about-us-content-left p:last-child {
  margin-top: 30px;
}

/* about us content right */

.about-us-content-right {
  width: 50%;
  float: left;
}

.about-us-content-right img {
  width: 60%;
  margin: 0 auto;
  background-color: (43, 45, 66, 0);
  display: block;
  border-radius: 50%;
}

/* employee-sayse */

.employee-sayse {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/hero-background.jpg) no-repeat -20% center;
  background-size: cover;
  float: left;
  min-height: 400px;
  padding: 80px 0;
}

.employee-rope {
  width: 100%;
  float: left;
}
.employee-rope > h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 3px 3px 2px rgb(217, 4, 41);
  margin-bottom: 20px;
}

/* employee box */

.employee-box {
  width: 100%;
  margin: 20px 0;
  padding: 20px 20px;
  float: left;
  background-color: rgba(30, 143, 255, 0.61);
}

.employee-box img {
  width: 100px;
  border-radius: 50%;
  float: left;
}

.employee-box p {
  float: left;
  width: calc(100% - 120px);
  text-align: justify;
  padding-top: 20px;
  padding-left: 40px;
  font-family: sans-serif;
  line-height: 30px;
  font-weight: bold;
  color: white;
}

/* footer */

.footer {
  width: 100%;
  font-size: 28px;
  background-color: rgb(217, 4, 41);
  text-align: center;
  padding: 30px 0;
  float: left;
}
.footer span {
  color: rgb(237, 242, 244);
}

/* /////////////////////////////////////////// */ /* @media query or responsive
*/ /* 0 until the 768 mobil */
@media (max-width: 767px) {
  /* header & footer */
  /* header */
  .header-logo {
    width: 100%;
    padding: 25px 0px;
    float: left;
    text-align: center;
  }
  .menu {
    float: right;
    width: 100%;
  }
  .menu li {
    float: none;
    text-align: center;
    box-shadow: 2px 2px 5px 2px black;
  }
  .menu li:last-child {
    box-shadow: 2px 0px 5px 1px black;
  }
  .menu li a {
    font-size: 25px;
  } /* footer */
  .footer {
    font-size: 20px;
  } /* home page */ /* hero */
  .hero {
    background-size: cover;
  }
  .hero-content {
    padding: 50px 0;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
  }
  .hero-content a {
    font-size: 16px;
  } /* history */
  .history .history-child {
    float: none;
    width: 100%;
  } /* history image */
  .history .history-image {
    background: url(../images/hero2-background.jpg) no-repeat 100% bottom;
    background-size: cover;
  } /* history content */
  .history .history-content {
    padding: 20px 10px;
    height: auto;
  } /* services */
  .services .service-box {
    float: none;
    width: 100%;
    height: auto;
  }
  .services::after {
    display: none;
  } /*
    gallary */
  .gallary .col {
    float: none;
    width: 100%;
  } /* contact us page */ /*
    contact us contact */
  .contact-us-content > h1 {
    font-size: 40px;
    text-align: center;
  }
  .contact-us-content > p {
    font-size: 20px;
  } /* find-out */
  .address-box {
    width: 100%;
    float: none;
    padding: 10px 20px;
  }
  .address .address-box:not(:nth-child(3)) {
    border-bottom: 3px solid #000;
  }
  .address .address-box i {
    padding: 20px;
  }
  .address .address-box p {
    padding: 10px;
  } /*
    about us page */ /* about us content */
  .about-us-content-left {
    width: 100%;
    float: none;
  }
  .about-us-content-left h1 {
    text-align: center;
  }
  .about-us-content-right {
    width: 100%;
    float: none;
    margin-top: 30px;
  }
  .about-us-content-right img {
    width: 100%;
  }
} /* 768 until the 1024 tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* header & footer */ /*
    header */ /* footer */
  .footer {
    font-size: 18px;
  } /* hero */
  .hero {
    background-size: cover;
  }
  .hero-content {
    padding: 100px 10px;
  } /* history */
  .history .history-image {
    background: url(../images/hero2-background.jpg) no-repeat 100% bottom;
    background-size: cover;
  }
  .history .history-child {
    height: 450px;
  }
  .history .history-content {
    padding: 50px 20px;
  } /* services
    */
  .services .service-box {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .services::after {
    content: "";
    border: 20px solid transparent;
    border-top-color: dodgerblue;
  } /* gallary */
  .gallary .col::before {
    content: attr(data-title2);
    height: 25px;
    line-height: 25px;
  } /* contact us page */ /* find out */
  .address-box {
    padding: 50px 10px;
  }
}
@media (min-width: 0px) and (max-width: 1023px) {
  /* about us page */ /*
    employee sayse */
  .employee-sayse {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/hero-background.jpg) no-repeat 87% center;
    background-size: cover;
  }
  .employee-box img {
    width: 150px;
    float: none;
    margin: 0 auto;
    display: block;
  }
  .employee-box p {
    width: 100%;
    padding-left: 0;
    float: none;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  /* services */
  .services::after {
    content: "";
    border: 25px solid transparent;
    border-top-color: dodgerblue;
  } /*
    gallary */
  .gallary .col::before {
    font-size: 12px;
  }
}
